<section id="about">
    <header class="three">
        <h2>Experience</h2>
    </header>
    <p>
        With experience across four continents, I am an Art Director adept at adjusting to new cultural environments. My overseas exposure has
        strengthened my ability to create impactful marketing campaigns for diverse audiences.
    </p>
    <p>
        Over the past decade, I've directed projects from the Americas to Europe, contributing to major events such as New York Fashion Week,
        Milan Fashion Week, along with fashion weeks in LA, Buenos Aires, Mexico City, and more. My work, showcased in various international
        magazines, has also played a pivotal role in shaping the narratives of luxury brands.
    </p>
    <p>
        My adaptability is evident not just in my cross-cultural work but also in the breadth of my professional experience. Aside from design
        and fashion, I've immersed myself in the non-profit sector and the world of real estate. In real estate, I've catered to luxury
        audiences, managed sales, led teams for fix and flip projects, and designed interiors. Balancing tight budgets and time constraints has
        been a recurring theme across all projects I've managed.
    </p>
    <p>
        More than an art director—I'm a storyteller with a global perspective. No matter the medium - photo/video production, social media
        strategy, brand identity, web design - I create compelling narratives. My experience in community engagement and my use of emerging
        technologies, such as NFT campaigns, allow me to shape brand identities and foster customer relationships effectively.
    </p>
    <p>Outside of work, I'm a proud father of five, a dedicated husband, and a strong advocate for mental health.</p><p>
        At the core, my work is all about effective visual communication. Whether I'm capturing a moment on camera, leading a campaign,
        designing user experiences, or building relationships, my goal is to tell a story that resonates with audiences and leaves a lasting
        impression.
    </p>

    <ul class="actions">
        <li><a href="#" class="button">Learn More</a></li>
    </ul>
</section>
