<!-- One -->
<section id="one" class="prose prose-slate max-w-none">
	<h1 class="font-serif text-emerald-300">Hi! I am a <br />visual storyteller</h1>

	<p class="prose prose-slate text-2xl max-w-3xl">
		with experience in Art Direction, design, <br />
		fashion photography & Social Media Management.
	</p>
	<p class="max-w-2xl first-letter:float-left first-letter:text-7xl first-letter:pr-4 first-letter:font-black first-letter:text-emerald-300">
		With experience spanning four continents, I am an Art Director adept at adjusting to new cultural environments and diverse audiences.
		Over the past decade, I've directed projects from the Americas to Europe, contributing to major events such as New York Fashion Week,
		Milan Fashion Week, along with fashion weeks in LA, Buenos Aires, Mexico City, and more. My work has been showcased in over a dozen
		international magazines.
	</p>

	<p class="pb-5 max-w-3xl">
		More than an art director—<strong>I'm a storyteller with a global perspective.</strong> No matter the medium - photo/video production, social
		media strategy, brand identity, web design - I create compelling narratives. My experience in community engagement and my use of emerging
		technologies, such as NFT campaigns, allow me to shape brand identities and foster customer relationships effectively.
	</p>
</section>

<ul class="actions">
	<li><a href="#about" class="button">Read More</a></li>
</ul>
