<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li>
				<a
					href="https://twitter.com/burkeatkerson"
					class="icon brands fa-twitter"
					><span class="label">Twitter</span></a
				>
			</li>
			<li>
				<a
					href="https://www.linkedin.com/in/burke-atkerson-173557245/"
					class="icon brands fa-linkedin"
					><span class="label">Github</span></a
				>
			</li>
			<li>
				<a
					href="https://www.instagram.com/burkeatkerson/"
					class="icon solid fa-instagram"
					><span class="label">Instagram</span></a
				>
			</li>
		</ul>
		<ul class="copyright">
			<li>&copy; Burke Atkerson</li>
			<li>Custom site by Burke using Astro.js and Tailwind CSS</li>
		</ul>
	</div>
</footer>
