---
import avatar from "../assets/avatar.jpg";
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>Burke Atkerson</strong>, Art Director<br />
			with over a decade in visual communications.
		</h1><br />
		<ul class="actions" style="justify-content: right;">
			<li>
				<a
					href="https://www.linkedin.com/in/burke-atkerson-173557245/"
					class="button">Download Resumé</a>
			</li>
		</ul>
	</div>
</header>
